.wah {
  font-weight: bold;
  color: #000000;
  font-size: 24px; /* Increase font size */
  text-transform: uppercase; /* Uppercase text */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Add a subtle text shadow */
  letter-spacing: 1px; /* Adjust letter spacing */
  margin-bottom: 20px; /* Add some spacing at the bottom */
}

.table{
    width:80%;
    height:80%;
}