
.card-list2 {
  list-style-type: none;
  padding: 12px;
}

.card-item2 {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 250px;
  border-radius: 10px; 
  border: 4px solid #ddd; 
  padding: 50px;
  width: 60%;
  display: flex;
  justify-content: space-between; 
}

.itemd-details {
  display: flex;
  align-items: center;
}

.itemd-image {
  width: 100px; 
  height: 100px; 
  object-fit: cover;
  margin-right: 10px;
}

.buttond-container2 button {
  border: none;
  background-color: orange;
  cursor: pointer;
  padding: 8px; 
  margin-right: 5px;
}

.buttond-container2 button:hover {
  background-color: #ff9f00;
}


.title-container {
  display: flex;
  background-color: #ff9f00;
  justify-content: space-between;
  margin-top: 10px;

}

.title-text {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;

}
.title2-text {
  font-size: 18px;
  font-weight: bold;
}


.price,
.quantity {
  font-weight: bold;
}


.notes {

  margin-left: auto; 
  display: flex;
  align-items: center;
  cursor: pointer;
}

.add-notes-text {

  margin-right: 8px;
  font-weight: bold;
}

.add-notes-icon {

  font-size: 24px;
  color: #007bff;
  cursor: pointer;
}

.invoice {

  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
}

.invoice-title {

  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.invoice-details {

  margin-bottom: 20px;
}

.invoice-items {

  width: 100%;
  border-collapse: collapse;
}

.invoice-items th,
.invoice-items td {
  border: 1px solid #ddd;
  padding: 8px;
}

.invoice-items th {
  background-color: #f0f0f0;
  font-weight: bold;
}

.print-button {
  
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.print-button:hover {
  background-color: #0056b3;
}
.notes-container {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.notes-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.notes-content {
  font-size: 1rem;
  line-height: 1.5;
}

