
.button-container {
    display: flex;
    justify-content: space-between;
  }
  
  .button-container button {
    padding: 5px 10px;
    margin-right: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button-container button:hover {
    background-color: #0056b3;
  }
  
  .button-container button:active {
    transform: scale(0.95);
  }

  
  .cart-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .cart-table th,
  .cart-table td {
    padding: 6px;
    border-bottom: 1px solid #ddd;
    text-align: left;
  }
  
  .cart-table th {
    background-color: #f2f2f2;
  }
  
  .item-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
  }
  
  .button-container button {
    padding: 5px 5px;
    margin-right: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button-container button:hover {
    background-color: #0056b3;
  }
  
  .button-container button:active {
    transform: scale(0.95);
  }
  
  .center{

    justify-content: center;
    display: flex;
    
  }
  .favorite-icon {
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
  }

  .FaHeartIcon {
    position: relative;
    top: -30px;
    border-radius: 50%;
    
}
.FaHeartIcon :hover {
  border-color: red;
  color: red;
  cursor: pointer;
}
.bold-text {
  margin-left: 65px;
  margin-top: 30px;
  font-weight: bold;
}
.bold-text-rabie {
  margin-left: 100px;
  margin-top: 12px;
  font-weight: bold;
}

  